/*--- Gerüst der Settings ---*/

.settings
{
    font-size: 20px;
    background-color: #ccc;
    height: 100%;
    margin-top: -9px;
    
}


.setting-element
{
    border-radius: 3px;
    background-color: #fcfcfc;
    font-size: 18px;
    box-shadow: 0 5px 5px #777;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.element-top
{
    border-radius: 3px;
    background-color: #f0f0f0;
    font-size: 18px;
    padding-left: 10px;
}

.element
{
    margin: 10px;
    font-size: 15px;
    vertical-align: middle;    
}

/*--- Farbauswahlaufbau ---*/
.colorOption
{
    overflow: hidden;
}

.colorWindow
{
    height: 80px;
    width: calc(25% - 4px);
    float: left;
    margin: 2px;
    cursor: pointer;
    padding: 5px;
}

.colorWindow:hover
{
    background-color: rgba(0,0,0,0);
}

.colorWindowInner
{
    height: 100%;
    width: 100%;
}


/* colors according to 
http://www.google.com/design/spec/style/color.html#color-color-palette 
*/
#teal
{
    background-color: #009688;
}
#green
{
    background-color: #4CAF50;
}
#pink
{
    background-color: #E91E63;
}
#purple
{
    background-color: #9C27B0;
}
#red
{
    background-color: #C0392B;
}
#blue
{
    background-color: #3F51B5;
}
#orange
{
    background-color: #FF9800;
}
#yellow
{
    background-color: #FFEB3B;
}

#content{border-bottom: dotted thin grey; }
#last{}
#solidborder{border-bottom: solid thin grey;}
#left{float: left;}