/*--- Gerüst der Settings ---*/


.settings

{

    font-size: 1.25em;

    /*background-color: #ccc;*/

    background-color: #f0f0f0;

    height: 100%;

    margin-top: -20px;

}



.setting-element

{

    border-radius: 3px;

    background-color: #fcfcfc;

    font-size: 1em;

    /*box-shadow: 0 0.213em 0.213em #777;*/

    /*margin-left: 4%;*/

    margin-top: 0px;

    /* margin-bottom: 4%; */

    /*padding-bottom: 0.4em;*/

    width:100%;

}



.element-top

{

    border-radius: 3px;

    background-color: #f0f0f0;

    font-size: 1em;

    padding-left: 3%;

}


.element

{

    margin: 4%;

    font-size: 0.8em;

    vertical-align: middle;

    padding-bottom: 0.75em;

    border-bottom: solid 0.1em #f0f0f0;

}


.element-part

{

    width: 49%;

    display: inline-block;

}


/*--- Farbauswahlaufbau ---*/

.colorOption

{

    overflow: hidden;

}


.colorWindow

{


}


/* colors according to 

http://www.google.com/design/spec/style/color.html#color-color-palette 

*/

#teal

{

    background-color: #009688;

}

#green

{

    background-color: #4CAF50;

}

#pink

{

    background-color: #E91E63;

}

#purple

{

    background-color: #9C27B0;

}

#red

{

    background-color: #C0392B;

}

#blue

{

    background-color: #3F51B5;

}

#orange

{

    background-color: #FF9800;

}

#yellow

{

    background-color: #FFEB3B;

}


#right{text-align: right}

#click{cursor: pointer}
