<div class="scrollable">
	<div class="scrollable-content section">
		<div id="recL_filter">
			<input id="recL_filter_input" ng-model="rec_searchText._id" placeholder="Rezeptnamen durchsuchen" ng-class="rezeptLCtrl.switchInput(0)">
			<input id="recL_filter_input" ng-model="rec_searchText.ingredients" placeholder="Zutaten durchsuchen" ng-class="rezeptLCtrl.switchInput(1)">
			<a ng-click="rezeptLCtrl.switch(); rec_searchText._id = ''; rec_searchText.ingredients = '';" id="recL_filter_switch" href><i class="fa fa-refresh fa-2x"></i></a>
		</div>

		<div id="loading">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
		<div class="recL_rec" ng-repeat="rezept in rezeptListe | filter:rec_searchText" ng-click="rezeptLCtrl.redirect($index)">
			<div class="recL_rec_name">{{rezept._id}}</div>
			<div class="recL_rec_ingredient_List">
				<div class="recL_rec_ingredients" ng-repeat="ingr in rezept.ingredients | limitTo:4">{{ingr._id}}</div>
			</div>
			<div class="recL_rec_creator">{{rezept.creator}}</div>
			<div class="recL_rec_rating">
				{{rezept.ratings_average}} <i class="fa fa-star"></i>
			</div>
			<div class="recL_rec_likes">
				{{rezept.likes_amount}} <i class="fa fa-heart"></i>
			</div>
			<div class="recL_rec_img_container">
				<img class="recL_rec_img" ng-src="{{rezept.imageThumb}}">
			</div>
		</div>
	</div>
</div>
