<!DOCTYPE <!DOCTYPE html>
<html ng-app="loginApp">
<head>
	<title>personalChef</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-status-bar-style" content="yes" />

	<!-- Einbinden der angular Bibliotheken -->
	<script src="app/components/angular.js"></script>
	<script src="app/components/angular-resource.js"></script>

	<!-- Einbinden der Angular Applikation -->
	<script type="text/javascript" src="login.js"></script>
	<script type="text/javascript" src="loginService.js"></script>

	<link rel="stylesheet" type="text/css" href="app/normalize.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style_login.css" />
</head>
<body>
	<div id="backgrnd"  ng-controller="LoginController as loginCtrl">
		<div id="container">
			<i class="fa fa-refresh" id="switch" onclick="switch_ls()"></i>
			<div id="header">
				Einloggen
			</div>

			<form id="login">
				<input id="name" type="text" ng-model="usrLogin.username" placeholder="Benutzername..." required>
				<input id="pwd" type="password" ng-model="usrLogin.password" placeholder="Passwort..." required>
				<button ng-click="userLogin(usrLogin)">Login</button>
			</form>

			<form id="signup" ng-submit="userReg(usrReg)">
				<input id="signup_name" type="text" ng-model="usrReg.username" placeholder="Benutzername..." required>
				<input id="signup_email" type="email" ng-model="usrReg.email" placeholder="Email..." required>
				<input id="signup_pwd" type="password" ng-model="usrReg.password" placeholder="Passwort..." onkeyup="checkPass(); return false;" required>
				<input id="signup_pwd_rep" type="password" placeholder="Passwort wiederholen..." onkeyup="checkPass(); return false;" required>
				<button id="signup_submit" type="submit">Registrieren</button>
			</form>
		</div>
	</div>
	

</body>

<script type="text/javascript">
	function switch_ls() {
		var lgn = document.getElementById("login");
		var sgnp = document.getElementById("signup");
		var head = document.getElementById("header");
		if (sgnp.style.display == "block") {
			lgn.style.display = "block";
			sgnp.style.display = "none";
			head.innerHTML = "Einloggen";
		}
		else
		{

			lgn.style.display = "none";
			sgnp.style.display = "block";
			head.innerHTML = "Registrieren";
		}
	}

	function checkPass()
	{
		var pass1 = document.getElementById('signup_pwd');
		var pass2 = document.getElementById('signup_pwd_rep');
		var btn   = document.getElementById('signup_submit');

    // Festlegen der Farben
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    // Vergleich der Passwortfelder
    if(pass1.value == pass2.value)
    {
    	btn.style.display = 'block';
    	pass1.style.backgroundColor = goodColor;
    	pass2.style.backgroundColor = goodColor;

    }else{
    	btn.style.display = 'none';
    	pass1.style.backgroundColor = badColor;
    	pass2.style.backgroundColor = badColor;
    }
}  
</script>

</html>