<div class="scrollable">
	<div class="scrollable-content section" id="rec_content">

		<div id="loading">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
		<div id="recipe_content">
			<div id="re_pic">
				<img ng-src="{{recipe.image}}">
				<div id="title">{{recipe._id}}</div>
				<div id="time"><i class="fa fa-clock-o"></i> {{recipe.time}} min</div>
				<div id="rec_edit_img" ng-show="recCtrl.checkUser(recipe.creator)" ng-click="recCtrl.redirect_ImgUpload()">
					<i class="fa fa-pencil fa-2x"></i>
				</div>
			</div>
			<div id="creator_img_container" ng-click="recCtrl.redirect_user()">
				<div id="creater_img_helper">
					<img ng-src="{{recipe.creatorThumb}}">
				</div>
			</div>

			<div  ui-if="activeRecTab == 1" id="rec_padding_content">
				<div id="rec_ingredients">
					<h1>Zutaten</h1>
					<ul>
						<li ng-repeat="ingredient in recipe.ingredients">{{ingredient.amount}} {{ingredient.unit}} {{ingredient._id}}</li>
					</ul>
				</div>
				<div id="rec_instructions">
					<h1>Zubereitung</h1>
					<p>{{recipe.description}}</p>
				</div>
			</div>

			<div  ui-if="activeRecTab == 2" id="rec_social_content">
				<div id="rec_creator" ng-click="recCtrl.redirect_user()">
					{{recipe.creator}}
				</div>

				<div id="rec_ratings">
					<div id="rec_ratings_header">
						<div id="rec_like_header">
							Likes
						</div>
						<div id="rec_rate_header">
							Bewertung
						</div>
					</div>
					<div id="rec_like">
						<div id="rec_like_count">
							{{recLikes.size}}
						</div>
						<div id="rec_like_false" ng-show="!recLikes.userLike" ng-click="recCtrl.setLike(true)">
							<i class="fa fa-heart-o fa-2x"></i>
						</div>
						<div id="rec_like_true" ng-show="recLikes.userLike" ng-click="recCtrl.setLike(false)">
							<i class="fa fa-heart fa-2x"></i>
						</div>
					</div>
					<div id="rec_rate">
						<div id="rec_rating">
							{{recipe.ratings_average}}
						</div>
						<div id="rec_rating_stars">
							<i class="fa fa-star fa-2x" ng-show="1 <= recipe.ratings_average" ng-click="recCtrl.recRate(1)"></i>
							<i class="fa fa-star-o fa-2x" ng-show="1 > recipe.ratings_average" ng-click="recCtrl.recRate(1)"></i>
							<i class="fa fa-star fa-2x" ng-show="2 <= recipe.ratings_average" ng-click="recCtrl.recRate(2)"></i>
							<i class="fa fa-star-o fa-2x" ng-show="2 > recipe.ratings_average" ng-click="recCtrl.recRate(2)"></i>
							<i class="fa fa-star fa-2x" ng-show="3 <= recipe.ratings_average" ng-click="recCtrl.recRate(3)"></i>
							<i class="fa fa-star-o fa-2x" ng-show="3 > recipe.ratings_average" ng-click="recCtrl.recRate(3)"></i>
							<i class="fa fa-star fa-2x" ng-show="4 <= recipe.ratings_average" ng-click="recCtrl.recRate(4)"></i>
							<i class="fa fa-star-o fa-2x" ng-show="4 > recipe.ratings_average" ng-click="recCtrl.recRate(4)"></i>
							<i class="fa fa-star fa-2x" ng-show="5 <= recipe.ratings_average" ng-click="recCtrl.recRate(5)"></i>
							<i class="fa fa-star-o fa-2x" ng-show="5 > recipe.ratings_average" ng-click="recCtrl.recRate(5)"></i>
						</div>

					</div>

				</div>
				<div id="rec_comments">
					<div id="rec_comments_header">
						Kommentare
					</div>
					<div class="rec_comment" ng-repeat="comment in recipe.comments">
						<div class="rec_comment_content">
							{{comment.content}}
						</div>
						<div class="rec_comment_delete" ng-show="recCtrl.showRemove(comment,$index)" ng-click="recCtrl.removeComment(comment)">
							<i class="fa fa-times"></i>
						</div>
						<div class="rec_comment_author">
							{{comment.author}}
						</div>
					</div>
					<div id="rec_add_comment">
						<div id="rec_add_comment_header">
							Kommentar hinzufügen
						</div>
						<form ng-submit="recCtrl.addComment(newComment)">
							<textarea id="rec_new_comment" ng-model="newComment" required></textarea>
							<button id="rec_report_commit" ng-click="recCtrl.recAlert(newComment)" type="button">Melden</button>
							<button id="rec_comment_commit" type="submit">Absenden</button>
						</form>
						
					</div>
				</div>

			</div>
			<ui-state id='activeRecTab' default='1'></ui-state>
			<ul class="nav nav-tabs">
				<li ui-class="{'active': activeRecTab == 1}">
					<a ui-set="{'activeRecTab': 1}"><i class="fa fa-file-text-o fa-2x"></i></a>
				</li>
				<li ui-class="{'active': activeRecTab == 2}">
					<a ui-set="{'activeRecTab': 2}"><i class="fa fa-comments-o fa-2x"></i></a>
				</li>
			</ul>



		</div>
	</div>
</div>