<div class="scrollable">
	<div class="scrollable-content section" id="rec_content">

		<div id="loading">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
		<div id="recipe_content">
			<div id="re_pic">
				<img ng-src="{{recipe.image}}">
				<div id="title">{{recipe._id}}</div>
				<div id="time"><i class="fa fa-clock-o"></i> {{recipe.time}} min</div>
				<div id="creator_img_container" ng-click="recCtrl.redirect_user()">
					<div id="creater_img_helper">
					<img ng-src="{{recipe.creatorThumb}}">
					</div>
				</div>
			</div>

			<div id="rec_padding_content">
				<div id="rec_ingredients">
					<h1>Zutaten</h1>
					<ul>
						<li ng-repeat="ingredient in recipe.ingredients">{{ingredient.amount}} {{ingredient.unit}} {{ingredient._id}}</li>
					</ul>
				</div>
				<div id="rec_instructions">
					<h1>Zubereitung</h1>
					<p>{{recipe.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>