/*-------------------------------*/
/*--- Anpassung Rezeptansicht ---*/
/*-------------------------------*/

#rec_content
{
	padding: 0;
}

#rec_content h1
{
	font-size: 1.7em;
}

#rec_padding_content
{
	padding: 10px;
	margin-bottom: 40px;
}

#rec_social_content
{
	padding: 10px;
	margin-bottom: 40px;
}

#rec_ingredients li
{
	font-size: 1.3em;
}

#rec_instructions
{
	border-top: 1px solid;
	padding-top: 5px;
}

#rec_instructions p
{
	padding-left: 5px;
	text-align: justify;
	font-size: 1.3em;
}

#recipe_content
{
	position: relative;
	width: 100%;
	display: block;
	height: 92%;
	background-color: white;
	z-index: 2;
}

#re_pic
{
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	height: 45%;
	background-color: grey;
	background-color: rgba(50,50,50,0.5);
	overflow: hidden;
}

#re_pic img
{
	vertical-align: center;
	min-width: 100%;
}

#re_pic #title
{
	width: 100%;
	background-color: rgba(30,30,30,0.3);
	position: absolute;
	top:0px;
	font-size: 1.6em;
	padding: 5px;
	color: rgba(236, 240, 241,1.0);
	z-index: 3;
}

#re_pic #time
{
	position: absolute;
	font-size: 1.6em;
	color: white;
	bottom: 0px;
	padding: 5px;
	color: rgba(236, 240, 241,1.0);
	background-color: rgba(30,30,30,0.3);
	width: 100%;
}

#creator_img_container
{
	position: absolute;
	right: 30px;
	margin-top:calc(-4em - 3px);
}

#creater_img_helper
{
	height:8em;
	width:8em;
	position:relative;
	border-radius:100%;
	overflow:hidden;
}

#creator_img_container img
{
	position:absolute;
	left:-50%;
	right:-50%;
	top:0;
	margin:auto;
	height:100%; 
	min-width:100%;
}

#recipe_content .nav li
{
	width: 50%;
	text-align: center;
	background-color: rgba(220,220,220,1);
	border-left: solid 1px rgba(50,50,50,0.2);
	border-right: solid 1px rgba(50,50,50,0.2);
	margin-bottom: -2px;
}

#recipe_content .nav li .fa
{
	color: rgba(231, 76, 60,1.0);
}

#recipe_content .nav li a
{
	margin: 0;
	border-top: solid 1px rgba(50,50,50,0.2);
	border-radius: 0px 0px 0px 0px;
}

#recipe_content .nav  .active a
{
	border-right: 0px !important;
	border-left: 0px !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

#recipe_content .nav
{
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0px;
	border-bottom: 0px;
}

#rec_creator
{
	font-size: 1.4em;
	width: 80%;
	display: block;
	border-bottom: 1px solid rgba(50,50,50,0.2);
	margin-bottom: 10px;
}

#rec_comments_header
{
	font-size: 1.2em;
	width: 100%;
	border-bottom: 1px solid rgba(50,50,50,0.2);
}

.rec_comment
{
	padding-top: 10px;
	padding-right: 20px;
	position: relative;
	min-height: 3em;
	padding-bottom: 1.5em;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
	border-bottom: 1px solid rgba(50,50,50,0.1);
}

.rec_comment_author
{
	position: absolute;
	right: 0;
	font-size: 0.7em;
}

.rec_comment_delete
{
	position: absolute;
	right: 0;
	top: 5px;
}

#rec_add_comment
{
	padding-top: 5px;
	margin-bottom: 50px;
}

#rec_add_comment_header
{
	font-size: 1.2em;
}

#rec_new_comment
{
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	border-radius: 5px;
}

#rec_comment_commit
{
	margin-top: 5px;
	font-size: 1.5em;
	color: white;
	float:right;
	display: block;
	padding-top: 4px;
	width: 50%;
	background-color: rgba(231, 76, 60,1.0);
	border-radius: 5px;
	border: 1px solid rgba(50,50,50,0.7);
}

#rec_report_commit
{
	margin-top: 5px;
	font-size: 1.5em;
	color: white;
	float:left;
	display: block;
	padding-top: 4px;
	width: 40%;
	background-color: rgba(231, 76, 60,1.0);
	border-radius: 5px;
	border: 1px solid rgba(50,50,50,0.7);
}

.fa-heart-o, .fa-heart, #rec_rate .fa-star, #rec_rate .fa-star-o
{
	color: rgba(231, 76, 60,1.0);
}

#rec_like
{
	display: inline-block;
	width: 35%;
}

#rec_like_header, #rec_rate_header
{
	display: inline-block;
	font-size: 1.2em;
	width: 35%;
}

#rec_ratings_header
{
	border-bottom: 1px solid rgba(50,50,50,0.2);
	margin-bottom: 5px;
}

#rec_rate_header
{
	width: 63%;
}
#rec_like_count, #rec_rating
{
	display: inline-block;
	width: 2em;
}

#rec_like_true, #rec_like_false, #rec_rating_stars
{
	display: inline-block;
}

#rec_rate
{
	width: 63%;
	display: inline-block;
}

#rec_edit_img
{
	padding-top:0.5em;
	position: absolute;
	text-align: center;
	width: 3em;
	height: 3em;
	top: 50px;
	right: 15px;
	display: block;
	background-color: rgba(231, 76, 60,0.8);
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
}

#rec_edit_img .fa-pencil
{
	color: white;
}