/*-------------------------------*/
/*--- Anpassung Rezeptansicht ---*/
/*-------------------------------*/

#rec_content
{
	padding: 0;
}

#rec_content h1
{
	font-size: 1.7em;
}

#rec_padding_content
{
	padding: 10px;
}

#rec_ingredients li
{
	font-size: 1.3em;
}

#rec_instructions
{
	border-top: 1px solid;
	padding-top: 5px;
}

#rec_instructions p
{
	padding-left: 5px;
	text-align: justify;
	font-size: 1.3em;
}