<div>
	<div class="tut_darkpane" id="tut_dark"></div>
			<div id="page1">
				<div class="tut_overlay">
					<div id="message1">
						<img class="tut_arrows" src="http://personalchef.ddns.net/git/backend/imgs/icons/arr1.png"/>
						<div class="tut_descr">Suche nach einer Zutat oder nach einem Rezept. Du kannst auch EAN Nummern eintragen oder direkt einen Barcode abscannen.</div>
						<button class="tut_button" ng-click="nextMessage(1)">Weiter</button>
					</div>
					<div id="message2" class="hidden">
						<br/><br/><br/><br/><br/><br/><br/>
						<img class="tut_arrows" src="http://personalchef.ddns.net/git/backend/imgs/icons/arr1.png"/>
						<div class="tut_descr">Dir wird an jedem Tag ein anderes Rezept empfohlen.</div>
						<button class="tut_button" ng-click="nextMessage(2)">Weiter</button>
					</div>
					<div id="message3" class="hidden">
						<br/><br/><br/><br/><br/><br/><br/>
						<img class="tut_arrows" src="http://personalchef.ddns.net/git/backend/imgs/icons/arr1.png"/>
						<div class="tut_descr">Du siehst auch direkt, wie lange ein Rezept dauert...</div>
						<button class="tut_button" ng-click="nextMessage(3)">Weiter</button>
					</div>
					<div id="message4" class="hidden">
						<br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">...oder wie es von der Community bewertet wurde</div>
						<br/>
						<button class="tut_button" ng-click="nextMessage(4)">Weiter</button>
						<br/><br/><br/>
						<img class="tut_arrows_middle" src="http://personalchef.ddns.net/git/backend/imgs/icons/arr5.png"/>
					</div>
					<div id="message5" class="hidden">
						<br/><br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">Tippe auf das Informationssysmbol um mehr Informationen zu erhalten</div>
						<button class="tut_button" ng-click="loadPage(2)">Weiter</button>
						<br/><br/><br/>
						<img class="tut_arrows_tab" src="http://personalchef.ddns.net/git/backend/imgs/icons/arr7.png"/>
					</div>
				</div>
				<div class="tut_backgroundlayer">
					<form role="form">
						<fieldset>
							<div class="home_search">
								<a id="home_input_pic"><i class="fa fa-camera fa-2x"></i></a>
								<input type="text" id="home_input" placeholder="Zutat/Rezept eingeben..." readonly>
								<a id="home_search_btn"><i class="fa fa-search fa-2x"></i></a>
							</div>
						</fieldset>
					</form>
					<div class="home_r">
						<h1>Rezept des Tages</h1>
						<div class="rec_content">
							<div class="rec_pic">
								<img src="http://personalchef.ddns.net/git/backend/imgs/recipes/burgers.jpg">
							</div>

							<div class="rec_name">
								<h4>Burger</h4>
							</div>
							<div class="rec_incr">
								<i class="fa fa-info fa-2x"></i>
							</div>

							<div class="rec_time">
								<i class="fa fa-clock-o"></i>12 min
							</div>
							<div class="rec_rating">
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
							</div>
						</div>
						<h1>Rezept des Community</h1>
						<div class="rec_content">
							<div class="rec_pic">
								<img src="http://personalchef.ddns.net/git/backend/imgs/recipes/original/dummy.jpg">
							</div>
							<div class="rec_name">
								<h4>Spritzgebäck</h4>
							</div>
							<div class="rec_incr">
								<i class="fa fa-info fa-2x"></i>
							</div>

							<div class="rec_time">
								<i class="fa fa-clock-o"></i>30 min
							</div>
							<div class="rec_rating">
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="page2" class="hide">
				<div class="tut_overlay">
					<div id="message11">
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">Wirf einen Blick in deinen virtuellen Kühlschrank. Du kannst die Anzahl deiner Zutaten erhöhen, vermindern, Zutaten löschen und sogar neue hinzufügen</div>
						<button class="tut_button" ng-click="loadPage(3)">Weiter</button>
					</div>
				</div>
				<div>
					<div class="tut_backgroundlayer">
						<form role="form">
									<fieldset>
										<div class="fridge_form">
											<!-- Eingabefeld für Zutaten -->
											<input type="text" id="fridge_input" placeholder="Zutat hinzufügen..." autocomplete="off" required readonly>
											<input type="number" id="fridge_input_amount" min="0" placeholder="Menge" autocomplete="off" required readonly>
											<input type="text" id="fridge_input_unit" disabled="true" required readonly>
											<!-- Button zum Hinzufügen -->
											<button id="input_add_btn" type="submit"><i class="fa fa-plus fa-2x"></i></button>
											<ul id="fridge_autocomplete_list">
											</ul>
										</div>
									</fieldset>
						</form>
						<div class="fridge">
							<div class="fridge_item">
								<div class="fridge_item_name">
									Milch
								</div>
								<div class="fridge_item_modify">
									<a class="fridge_item_minus"><i class="fa fa-minus"></i></a>
									<div class="fridge_item_count">500</div>
									<div class="fridge_item_unit">ml</div>
									<a class="fridge_item_plus"><i class="fa fa-plus"></i></a>
									<a class="fridge_item_remove"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="fridge_item">
								<div class="fridge_item_name">
									Käse
								</div>
								<div class="fridge_item_modify">
									<a class="fridge_item_minus"><i class="fa fa-minus"></i></a>
									<div class="fridge_item_count">100</div>
									<div class="fridge_item_unit">g</div>
									<a class="fridge_item_plus"><i class="fa fa-plus"></i></a>
									<a class="fridge_item_remove"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="fridge_item">
								<div class="fridge_item_name">
									Apfel
								</div>
								<div class="fridge_item_modify">
									<a class="fridge_item_minus"><i class="fa fa-minus"></i></a>
									<div class="fridge_item_count">5</div>
									<div class="fridge_item_unit">St</div>
									<a class="fridge_item_plus"><i class="fa fa-plus"></i></a>
									<a class="fridge_item_remove"><i class="fa fa-times"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="page3" class="hide">
				<div class="tut_overlay">
					<div id="message21">
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">Die Community liefert dir jede Menge leckere Rezepte die du ausprobiern kannst. Der Ersteller des Rezeptes freut sich sicherlich auch über dein "Like" oder eine postive Bewertung.</div>
						
						<button class="tut_button" ng-click="loadPage(4)">Weiter</button>
					</div>
				</div>
				<div>
					<div>
						<div id="recL_filter">
							<input class="tut_dummyInput" readonly placeholder="Rezeptnamen durchsuchen">
							<a id="recL_filter_switch" href><i class="fa fa-refresh fa-2x"></i></a>
						</div>
						<div class="recL_rec">
							<div class="recL_rec_name">Spaghetti Bolognese</div>
							<div class="recL_rec_ingredient_List">
								<div class="recL_rec_ingredients">Spaghetti, Hackfleisch</div>
							</div>
							<div class="recL_rec_creator">Daniel Müller</div>
							<div class="recL_rec_rating">
								14 <i class="fa fa-star"></i>
							</div>
							<div class="recL_rec_likes">
								5 <i class="fa fa-heart"></i>
							</div>
							<div class="recL_rec_img_container">
								<img class="recL_rec_img" ng-src="http://personalchef.ddns.net/git/backend/imgs/recipes/thumbnails/dummy.jpg">
							</div>
						</div>
						<div class="recL_rec">
							<div class="recL_rec_name">Nudeln a la Pasta</div>
							<div class="recL_rec_ingredient_List">
								<div class="recL_rec_ingredients">Spaghetti, Hackfleisch</div>
							</div>
							<div class="recL_rec_creator">Daniel Müller</div>
							<div class="recL_rec_rating">
								14 <i class="fa fa-star"></i>
							</div>
							<div class="recL_rec_likes">
								5 <i class="fa fa-heart"></i>
							</div>
							<div class="recL_rec_img_container">
								<img class="recL_rec_img" ng-src="http://personalchef.ddns.net/git/backend/imgs/recipes/thumbnails/dummy.jpg">
							</div>
						</div>
						<div class="recL_rec">
							<div class="recL_rec_name">Nudeln mit Hackfleisch</div>
							<div class="recL_rec_ingredient_List">
								<div class="recL_rec_ingredients">Spaghetti, Hackfleisch</div>
							</div>
							<div class="recL_rec_creator">Daniel Müller</div>
							<div class="recL_rec_rating">
								14 <i class="fa fa-star"></i>
							</div>
							<div class="recL_rec_likes">
								5 <i class="fa fa-heart"></i>
							</div>
							<div class="recL_rec_img_container">
								<img class="recL_rec_img" ng-src="http://personalchef.ddns.net/git/backend/imgs/recipes/thumbnails/dummy.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="page4" class="hide">
				<div class="tut_overlay">
					<div id="message31">
						<br/><br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">Du kannst neue Rezepte hinzufügen. Gib dafür zunächst den Rezeptnamen und die Dauer an. Der Schwierigkeitsgrad zeigt anderen Köchen wie schwer es ist, dein Rezept zu kochen.</div>
						<button class="tut_button" ng-click="loadPage(5)">Weiter</button>
					</div>
				</div>
				<div >
					<form>
						<input id="rec_input_full" type="text" name="rec_name" placeholder="Rezeptnamen angeben" required tabindex="1" readonly>
						<input id="rec_input_half" type="number" name="rec_time" placeholder="Dauer in min." required tabindex="2" readonly>
						<select id="rec_input_half2" tabindex="3" disabled="true">
							<option value="1">Leicht</option>
							<option value="2">Mittel</option>
							<option value="3">Schwer</option>
						</select>
						<button type="submit" id="rec_submit" tabindex="4">
							<i class="fa fa-angle-right fa-2x"></i>
						</button>
					</form>
				</div>
			</div>
			<div id="page5" class="hide">
				<div class="tut_overlay">
					<div id="message41">
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<div class="tut_descr">Füge alle nötigen Zutaten zu deinem Rezept hinzu. Klicke auf das + um deine Zutat hinzuzufügen.</div>
						<button class="tut_button" ng-click="loadPage(6)">Weiter</button>
					</div>
				</div>
				<div>
					<div>
						<!-- Vorschau für den Namen und die Zubereitungsdauer -->
						<div class="new_rec_name">
							<div id="new_rec_pic">
								<img src="resource/nudeln.jpg">
								<div id="new_rec_title">Spaghetti Bolognese</div>
								<div id="new_rec_time"><i class="fa fa-clock-o"></i>12 min</div>
							</div>
						</div>
						<div class="rec_input_div" >
							<form>
								<input id="rec_input_full" readonly type="text" name="rec_ing" placeholder="Zutat hinzufügen" required>
								<input id="rec_input_half" readonly type="number" name="rec_ing"  placeholder="Menge" required>
								<select id="rec_input_half2">
									<option value="g">Gramm</option>
								</select>
								<button type="submit" id="rec_submit">
									<i class="fa fa-plus fa-2x"></i>
								</button>
							</form>
							<a class="rec_input_full_btn" id="rec_input_to_desc" href="">weiter zur Rezeptbeschreibung</a>
						</div>
					</div>
				</div>
			</div>
			<div id="page6" class="hide">
				<div class="tut_overlay">
					<div id="message61">
						<br/><br/><br/><br/><br/>
						<div class="tut_descr">Du siehst schließlich alle Zutaten und kannst deine Eingaben bearbeiten oder Zutaten wieder aus dem Rezept rauslöschen.</div>
						<button class="tut_button" ng-click="loadPage(7)">Weiter</button>
					</div>
				</div>
				<div>
					<div>
						<!-- Vorschau für den Namen und die Zubereitungsdauer -->
						<div class="new_rec_name">
							<div id="new_rec_pic">
								<img src="resource/nudeln.jpg">
								<div id="new_rec_title">Spaghetti Bolognese</div>
								<div id="new_rec_time"><i class="fa fa-clock-o"></i>12 min</div>
							</div>
						</div>
						<div class="new_rec_ingredients">
							<div id="new_ingredients_head">
								Zutaten:
							</div>
							<ul>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Hackfleisch
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										500
									</div>
									<div id="new_rec_ing_unit">
										Gr
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Nudeln
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										200
									</div>
									<div id="new_rec_ing_unit">
										Gr
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Tomaten
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										2
									</div>
									<div id="new_rec_ing_unit">
										Stück
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
							</ul>
						</div>
						<div class="rec_input_div" >
							<form>
								<input id="rec_input_full" readonly type="text" name="rec_ing" placeholder="Zutat hinzufügen" required>
								<input id="rec_input_half" readonly type="number" name="rec_ing"  placeholder="Menge" required>
								<select id="rec_input_half2" disabled="true">
									<option value="g">Gramm</option>
								</select>
								<button type="submit" id="rec_submit">
									<i class="fa fa-plus fa-2x"></i>
								</button>
							</form>
							<a class="rec_input_full_btn" id="rec_input_to_desc" href="">weiter zur Rezeptbeschreibung</a>
						</div>
					</div>
				</div>
			</div>
			<div id="page7" class="hide">
				<div class="tut_overlay">
					<div id="message71">
						<br/><br/><br/><br/><br/>
						<div class="tut_descr">Beschreibe wie dein Gericht zubereiten ist und schließe deine Eingaben mithilfe des Buttons ab.</div>
						<button class="tut_button" ng-click="loadPage(8)">Weiter</button>
					</div>
				</div>
				<div>
					<div>
						<!-- Vorschau für den Namen und die Zubereitungsdauer -->
						<div class="new_rec_name">
							<div id="new_rec_pic">
								<img src="resource/nudeln.jpg">
								<div id="new_rec_title">Spaghetti Bolognese</div>
								<div id="new_rec_time"><i class="fa fa-clock-o"></i>12 min</div>
							</div>
						</div>
						<div class="new_rec_ingredients">
							<div id="new_ingredients_head">
								Zutaten:
							</div>
							<ul>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Hackfleisch
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										500
									</div>
									<div id="new_rec_ing_unit">
										Gramm
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Nudeln
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										200
									</div>
									<div id="new_rec_ing_unit">
										Gramm
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
								<li class="new_rec_ing_li">
									<div id="new_rec_ing_name">
										Tomaten
									</div>
									<div id="new_rec_ing_edit">
										<i class="fa fa-pencil"></i>
									</div>
									<div id="new_rec_ing_amount">
										2
									</div>
									<div id="new_rec_ing_unit">
										Stück
									</div>
									<div id="new_rec_ing_remove">
										<i class="fa fa-times"></i>
									</div>
								</li>
							</ul>
						</div>
						<div class="rec_input_div">
							<div id="new_description_head">
								Zubereitung:
							</div>
							<form>
								<div id="textarea_wrapper"><textarea id="add_r_description_input_area" placeholder="Zubereitung" required></textarea></div>
								<button type="submit" id="final_submit">
									Rezept abschließen
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="page8" class="hide">
				<div class="tut_overlay">
					<div id="message81">
						<br/><br/><br/><br/><br/>
						<div class="tut_descr">Fertig. Dein Rezept ist nun für die Community zugänglich und kann bewertet und kommentiert werden.</div>
						<button class="tut_button"><a href="#/home/">Los geht's!</a></button> 
					</div>
				</div>
				<div>
					<div>
						<div id="recipe_content">
							<div id="re_pic">
								<img ng-src="http://personalchef.ddns.net/git/backend/imgs/recipes/Gekochte Nudeln.jpg">
								<div id="title">Spaghetti Bolognese</div>
								<div id="time"><i class="fa fa-clock-o"></i>12 min</div>
								<div id="rec_edit_img" >
									<i class="fa fa-pencil fa-2x"></i>
								</div>
							</div>
							<div id="creator_img_container" >
								<div id="creater_img_helper">
									<img ng-src="http://personalchef.ddns.net/git/backend/imgs/users/dummy.png">
								</div>
							</div>
							<div  ui-if="activeRecTab == 1" id="rec_padding_content">
								<div id="rec_ingredients">
									<h1>Zutaten</h1>
									<ul>
										<li >500g Hackfleisch</li>
										<li >200g Nudeln</li>
										<li >2 Tomaten</li>
									</ul>
								</div>
								<div id="rec_size">
									Portionsgröße 1
								</div>
								<div id="rec_instructions">
									<h1>Zubereitung</h1>
									<p>Spaghetti in kochendes Wasser geben. Nach 5 Minuten Hackfleisch braten und passierte Tomaten hinzugeben.</p>
								</div>
								<button id="rec_cooked"><i class="fa fa-check fa-fw"></i>Rezept gekocht </button>
							</div>
							<ui-state id='activeRecTab' default='1'></ui-state>
							<ul class="nav nav-tabs">
								<li ui-class="{'active': activeRecTab == 1}">
									<a ui-set="{'activeRecTab': 1}" ><i class="fa fa-file-text-o fa-2x"></i></a>
								</li>
								<li ui-class="{'active': activeRecTab == 2}">
									<a ui-set="{'activeRecTab': 2}"><i class="fa fa-comments-o fa-2x"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>