<div class="scrollable" >
	<div class="scrollable-content section" id="login">
		<div id="backgrnd">
			<div id="container">
				<i class="fa fa-refresh" id="switch" ng-mousedown="loginCtrl.switch_ls()"></i>
				<div id="header">
					Einloggen
				</div>

				<form id="login_form">
					<input id="name" type="text" ng-model="usrLogin.username" placeholder="Benutzername..." required>
					<input id="pwd" type="password" ng-model="usrLogin.password" placeholder="Passwort..." required>
					<button ng-click="userLogin(usrLogin)">Login</button>
				</form>

				<form id="signup" ng-submit="userReg(usrReg)">
					<input id="signup_name" type="text" ng-model="usrReg.username" minlength="5" placeholder="Benutzername..." required>
					<input id="signup_email" type="email" ng-model="usrReg.email" placeholder="Email..." required>
					<input id="signup_pwd" type="password" ng-model="usrReg.password" placeholder="Passwort..." ng-change="loginCtrl.checkPass(usrReg)" required>
					<input id="signup_pwd_rep" type="password" placeholder="Passwort wiederholen..." ng-change="loginCtrl.checkPass(usrReg)" ng-model="usrReg.password1"required>
					<button id="signup_submit" type="submit">Registrieren</button>
				</form>
			</div>
            <div class="agb_accept">
				Mit der Registrierung akzeptierst du unsere <a href="#/agb/">AGB</a>
			</div>
		</div>
	</div>
</div>

