/**/
/**/
/**/

#login
{
	padding: 0;
}

#backgrnd
{
	padding-top: 20px;
	width: 100%;
	height:100%;
	display: block;
	background: url('../resource/login.jpg') no-repeat fixed center top / cover #EFEEE7;
}
#backgrnd form
{
	width: 100%;
}

#backgrnd input
{
	width: 90%;
	display:block;
	margin: auto;
	border-radius: 0px;
	font-size: 1.4em;
	padding: 5px;
	margin-bottom: 10px;
	height: 40px;
}

#backgrnd button
{
	margin:auto;
	margin-top: 30px;
	font-size: 1.4em;
	width: 90%;
	display: block;
	height: 40px;
	border-radius: 5px;
	background-color: rgba(231, 76, 60,1.0);
	color: white;
	border: solid 2px rgba(255,255,255,1);
}

#backgrnd button:focus, button:active, button:hover
{
	background-color: rgba(123, 3, 2, 1);
}

#backgrnd #container
{
	background: rgba(255,255,255,0.5);
	width: 90%;
	padding-top: 20px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
	border:solid 1px rgba(30,30,30,0.3);
	border-radius: 5px;
}

#header
{
	width: 50%;
	float: left;
	padding-left: 6%;
	font-size: 1.4em;
	padding-bottom: 10px;
}

#backgrnd .fa-refresh
{
	width: 30%;
	float: right;
	text-align: right;
	font-size: 1.3em;
	padding-right: 6%;
	padding-bottom: 8px;
}

#login
{
	display: block;
}

#signup
{
	display: none;
}

#signup_submit
{
	display: none;
}

#popup
{
	top:50px;
	right: 2%;
	width: 60%;
	text-align: justify;
	position: fixed;
	z-index: 100;
	padding: 10px 20px 10px 20px;
	display: none;
	background-color: rgba(192, 57, 43,1.0);
	border: white solid 2px;
	border-top: none;
	color: white;
}

.active#popup
{
	display:block;
}

#popup .fa-spinner
{
	color: white;
	text-align: center;
	width: 100%;
	display: block;
}
.agb_accept{
	width: 90%;
	padding-top: 20px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
	border-radius: 5px;
	color: #FFF;
	text-shadow: 1px 1px 1px #000000;
}
.agb_accept a{
	color: rgba(231, 76, 60,1.0);
}
